<div class="general-block-decorator">
    <div class="row">
        <div class="form-container">
            <div class="col-md-12">
                {form name= 'DevBanner.form'}
                    <form method="POST" id='devBannerForm' action="{url path="/admin/module/DevBanner/save"}" class="clearfix">

                        {form_field field="text_content"}
                            <div class="form-group {if $error}has-error{/if}">
                                <label for="{$label_attr.for|default:null}" class="control-label">{intl l= {$label} d='devbanner'}</label>
                                <textarea id="{$label_attr.for|default:null}" name="{$name}" class="form-control" style="height: 200px;" title="{$label}">{$value}</textarea>
                            </div>
                        {form_hidden_fields form=$form}

                        {/form_field}

                        {include
                        file="includes/inner-form-toolbar.html"
                        hide_submit_buttons = false
                        hide_flags = true
                        close_url = {url path="/admin/modules"}
                        }
                    </form>
                {/form}
            </div>
        </div>
    </div>
</div>
